<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-8" style="margin-top: 2%; margin-bottom: 2%;">
      <img
        src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/4_ways_to_cope.png"
        style="width: inherit; height: initial;"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <img
          src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/Initial_symptoms.png"
          width="60px"
          height="60px"
        />
        <div class="title mt-2">
          <h4 class="title-bold">อาการเบื้องต้น</h4>
        </div>

        <div class="text">
          <p>อาการเบื้องต้นเชื้อไวรัสโคโรนา</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(symptom)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <img
          src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/How_to_protect_2.png"
          width="60px"
          height="60px"
        />
        <div class="title mt-2">
          <h4 class="title-bold">วิธีการป้องกัน</h4>
        </div>

        <div class="text">
          <p>วิธีการการป้องกับเชื้อไวรัสโคโรนา</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(protected)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <img
          src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/Enjoy_at_home.png"
          width="60px"
          height="60px"
        />
        <div class="title mt-2">
          <h4 class="title-bold">ความผ่อนคลาย</h4>
        </div>

        <div class="text">
          <p>วิธีการผ่อนคลายในช่วงกักตัว</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(relax)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <img
          src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/sum_app.png"
          width="60px"
          height="60px"
        />
        <div class="title mt-2">
          <h4 class="title-bold">แอพพลิเคชัน</h4>
        </div>

        <div class="text">
          <p>แอพพลิเคชันเกี่ยวกับไวรัสโคโรนา</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(application)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" #symptom>
          <h2 class="card-title">อาการ</h2>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ติดเชื้ออาจป่วยเนื่องจากไวรัสนี้เป็นเวลา
            1-14 วันก่อนที่จะแสดงอาการ อาการทั่วไปของโรคติดเชื้อไวรัสโคโรนา 2019
            (โรคโควิด 19) คือเป็นไข้ อ่อนเพลีย และไอแห้ง คนส่วนใหญ่
            (ประมาณร้อยละ 80) หายจากโรคนี้ได้โดยไม่ต้องรับการรักษาพิเศษ
          </p>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในกรณีส่วนน้อย
            โรคอาจรุนแรงจนถึงขั้นทำให้เสียชีวิต ผู้สูงอายุและผู้ที่มีโรคประจำตัว
            (เช่น หอบหืด เบาหวาน หรือโรคหัวใจ)
            อาจมีความเสี่ยงมากขึ้นที่อาการป่วยจะรุนแรง
          </p>
          <hr />
          <p>ผู้ที่ติดเชื้ออาจมีอาการดังนี้</p>
          <ul class="list-group list-group-horizontal" style="overflow: auto;">
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/sneeze.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />ไอ
            </li>
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/fever.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />เป็นไข้
            </li>
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/loss-of-consciousness.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />อ่อนเพลีย
            </li>
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/bad-breath.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />หายใจลำบาก
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="card">
        <div class="card-body" #protected>
          <h2 class="card-title">วิธีการป้องกัน</h2>
          <p class="card-text">
            ในปัจจุบันยังไม่มีวัคซีนป้องกันโรคติดเชื้อไวรัสโคโรนา (COVID-19)
          </p>
          <p class="card-text">
            คุณสามารถป้องกันตัวเองและช่วยป้องกันไม่ให้ไวรัสแพร่กระจายสู่คนอื่นได้โดยทำดังนี้
          </p>
          <br />
          <h3 class="card-text text-info">สิ่งที่ควรทำ</h3>
          <ul class="list-group">
            <li class="list-group-item">
              ล้างมือบ่อยๆ เป็นเวลา 20
              วินาทีด้วยสบู่และน้ำหรือเจลล้างมือที่มีส่วนผสมของแอลกอฮอล์
            </li>
            <li class="list-group-item">
              ใช้กระดาษทิชชู่หรือข้อพับตรงข้อศอกด้านในปิดปากและจมูกขณะไอหรือจาม
            </li>
            <li class="list-group-item">
              หลีกเลี่ยงการพบปะใกล้ชิด (ระยะ 1 เมตรหรือ 3 ฟุต) กับคนที่ไม่สบาย
            </li>
            <li class="list-group-item">
              อยู่บ้านและกักตัวเองให้ห่างจากคนอื่นในบ้านหากรู้สึกไม่สบาย
            </li>
          </ul>
          <br />
          <h3 class="card-text text-danger">สิ่งที่ไม่ควรทำ</h3>
          <ul class="list-group">
            <li class="list-group-item">
              นำมือที่ไม่สะอาดไปสัมผัสดวงตา จมูก หรือปาก
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="card">
        <div class="card-body" #relax>
          <h2 class="card-title">การผ่อนคลาย</h2>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            นับวันสถานการณ์การแพร่ระบาด Covid-19
            ทั่วโลกจะยิ่งน่ากลัวมากขึ้นเรื่อยๆ ขณะที่บริษัทหลายๆ แห่งงัดนโยบาย
            Work From Home (WFH) มาใช้อย่างต่อเนื่อง
            เพื่อร่วมเป็นส่วนหนึ่งในการลดความเสี่ยงในการเพิ่มจำนวนผู้ติดเชื้อไวรัส
            ซึ่งการกักตัวนานถึง 14 วัน โดยไม่ออกไปไหน และห้ามพบปะใคร
            ไม่ใช่เรื่องง่ายเลยที่จะ recover ความรู้สึกตัวเองได้
          </p>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            ดังนั้นลองมาดูกันหน่อยมั้ยว่ามีกิจกรรมอะไรบ้างที่เราทำได้เมื่ออยู่ที่บ้าน
          </p>
          <br />
          <div class="card mb-3">
            <img
              src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/watch-movies.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title" style="font-weight: bold;">
                1.Video streaming
              </h3>
              <p class="card-text">
                แน่นอนว่ายุคที่ทุกอย่างเป็นดิจิทัลแบบนี้ การดู content online
                เป็นกิจกรรมแรกที่คนส่วนใหญ่ในหลายประเทศทำกัน โดยจะเห็นว่า
                streaming หลายๆ แบรนด์นั้นค่อนข้างแข่งขันกันดุเดือดมาก
                ไม่ว่าจะเป็น Netflix หรือแม้แต่ Pornhub
                ก็ยังโดดเข้าร่วมโอกาสนี้ด้วยเหมือนกัน
              </p>
            </div>
          </div>

          <div class="card mb-3">
            <img
              src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/read-book.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title" style="font-weight: bold;">
                2.อ่านหนังสือ
              </h3>
              <p class="card-text">
                พอเราพูดถึงการอ่านหนังสือแล้ว
                หลายคนถึงกับออกอาการมวนท้องเลยทีเดียว
                เพราะคิดถึงแต่หนังสือที่มีเนื้อหาหนักๆ หนังสือเรียน เชิงวิชากร
                หรือเชิงอัตชีวประวัติก็ตาม
                แต่ในโลกนี้เรายังมีหนังสืออีกมากที่สนุก และให้ความรู้ด้วย
                แม้แต่หนังสือการ์ตูนเองก็ตาม
              </p>
              <p class="card-text">
                อย่างผลสำรวจของ UK poll ระบุว่า ตั้งแต่ที่อังกฤษ
                เริ่มมีข่าวการแพร่ระบาดของไวรัส Covid-19 ร้านขายหนังสือหลายๆ
                แห่งถึงกับจัดโปรโมชั่น ลดราคา 20-50% เพื่อดึงดูดความสนใจ
                เพราะมีกลุ่มคนไม่น้อยที่แห่ไปซื้อหนังสือ
                ซึ่งเป็นหนึ่งในสินค้ากักตุนก่อนที่เริ่มชั่วโมงแห่งการกักตัวนั่นเอง
              </p>
            </div>
          </div>

          <div class="card mb-3">
            <img
              src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/cook.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title" style="font-weight: bold;">3.ทำอาหาร</h3>
              <p class="card-text">
                การทำอาหาร หรืออบขนม เป็น skill อย่างหนึ่งที่ควรมีติดตัว
                ซึ่งตอนนี้กระแสในโซเชียลมีเดีย ทั้งในสหรัฐฯ ลอนดอน และออสเตรเลีย
                ในช่วงนี้ พูดถึง challenges สอนทำอาหารค่อนข้างมาก
                ส่วนหนึ่งก็เพราะว่าห้างสรรพสินค้าและซูเปอร์มาร์เก็ตบางประเทศต้องปิดให้บริการชั่วคราว
                เพราะไวรัส Covid-19 ดังนั้น เรื่องสนุกๆ แบบนี้
                แถมยังอิ่มท้องด้วย
                น่าจะเป็นกิจกรรมหนึ่งที่น่าสนใจสำหรับคนไทยเหมือนกัน
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3 mb-3">
      <div class="card">
        <div class="card-body" #application>
          <h2 class="card-title">แอพพลิเคชันที่เกี่ยวกับไวรัสโคโรนา</h2>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            ท่ามกลางสถานการณ์การระบาด โรค ‘โควิด-19’
            มีประชาชนจำนวนไม่น้อยเกิดอาการวิตกกังวล ทั้งอาการเสี่ยงที่จะติดเชื้อ
            ทั้งจำนวนและพิกัดผู้ป่วย ทั้งขั้นตอนการกักตัว
            เทคโนโลยีจึงถูกหยิบมาเป็นเครื่องมือหนึ่งในการช่วยเหลือให้ความรู้และมีความสะดวกสบายแบบไม่ต้องออกไปเสี่ยงติดเชื้อจากข้างนอกบ้าน
            เพียงใช้มือถือแค่เครื่องเดียว
          </p>
          <br />
          <ul class="list-unstyled">
            <li class="media">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/%E0%B9%83%E0%B8%81%E0%B8%A5%E0%B9%89%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%AB%E0%B8%A1%E0%B8%AD.webp"
                class="mr-3"
                width="50px"
                height="50px"
              />
              <div class="media-body">
                <h3 class="mt-0 mb-1" style="font-weight: bold;">ใกล้มือหมอ</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                นางสาวสุพัฒนุช สอนดำริห์ ผู้อำนวยการอาวุโส
                สำนักสื่อสารการตลาดเพื่อสังคม
                สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.) กล่าวว่า สสส.
                ตั้งต้นให้การสนับสนุนโครงการแพทย์เฉพาะทางบาทเดียว
                เพื่อสนับสนุนการให้ข้อมูลความรู้ที่ถูกต้องด้านการแพทย์และสุขภาพและน่าเชื่อถือผ่านสื่อออนไลน์แก่ประชาชนทั่วไป
                ที่สำคัญมีทีมแพทย์เฉพาะทางที่เข้าร่วมตอบคำถามในโครงการเป็นแพทย์จิตอาสา
                มีจิตสาธารณะ นับเป็นแบบอย่างที่ดี
                และเมื่อโครงการต่อยอดมาเป็นแอปฯ “ใกล้มือหมอ”
                สสส.เห็นว่าเป็นโครงการที่สามารถก่อให้เกิดการปรับเปลี่ยนด้านการสร้างเสริมสุขภาวะได้
                ทั้งยังเป็นเครื่องมือที่ช่วยอสม.ในการดูแลสุขภาพประชาชน
                สามารถลดภาระงานของแพทย์ในโรงพยาบาล
                ช่วยลดค่าใช้จ่ายจากการรักษาพยาบาล
                และลดภาระงบประมาณการรักษาพยาบาลของประเทศอีกด้วย
                โดยเฉพาะในช่วงที่มีระบาดของเชื้อไวรัสโควิด-19
                ประชาชนสามารถเข้าในแอปฯเพื่อเช็คอาการหากสงสัยว่ามีแนวโน้มติดเชื้อหรือไม่
                พร้อมแนวทางการดูแลตัวเอง
                และ่รายชื่อโรงพยาบาลที่สามารถทำการตรวจเชื้อ PCR ของโควิด-19
                ได้ทันที
              </div>
            </li>
            <li class="media my-4">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/ddc-care.webp"
                class="mr-3"
                width="50"
                height="50"
              />
              <div class="media-body">
                <h3 class="mt-0 mb-1" style="font-weight: bold;">DDC-Care</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                แอพสำหรับติดตามและประเมินสุขภาพผู้ที่เดินทางมาจากประเทศที่เป็นเขตติดต่ออันตราย
                ซึ่งจะต้องกักตัวเองอยู่ภายในที่พักอาศัยเป็นระยะเวลา 14 วัน
                โดยผู้ที่เดินทางกลับจากประเทศกลุ่มเสี่ยงทั้งชาวไทย และต่างประเทศ
                เมื่อผ่านจุดคัดกรองด่านตรวจคนเข้าเมือง สำนักงานตรวจคนเข้าเมือง
                ทั้งท่าอากาศยาน ท่าเรือ ด่านพรมแดนทางบก รวม 46 ด่าน
                หากถูกจัดอยู่ในกลุ่มเสี่ยงติดโรคโควิด-19
                จะต้องทำการลงทะเบียนติดตั้งแอพพลิชั่น DDC-Care ลงบนสมาร์ทโฟน
                เพื่อรายงานสุขภาพเป็นเวลา 14 วัน รวมทั้งจะต้องกดรายงานการเดินทาง
                เส้นทางการเดินทางของกลุ่มเสี่ยงเพื่อใช้ประเมินพื้นที่เสี่ยงต่อไป
                นอกจากนี้บุคคลที่อาจติดต่อกับผู้ป่วยกลุ่มเสี่ยงดังกล่าวยังสามารถดาวน์โหลดแอพพลิเคชัน
                DDC-Care ใช้รายงานอาการได้เช่นเดียวกัน
                ซึ่งกรมควบคุมโรคจะประเมินความเสี่ยงจากข้อมูลสุขภาพที่ได้จากระบบได้อย่างต่อเนื่อง
                หากพบแสดงอาการเจ้าหน้าที่จะสามารถเข้าไปให้คำแนะนำและเข้าไปให้การช่วยเหลือได้อย่างทันท่วงที
              </div>
            </li>
            <li class="media">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/aot.webp"
                class="mr-3"
                width="50px"
                height="50px"
              />
              <div class="media-body">
                <h3 class="mt-0 mb-1" style="font-weight: bold;">
                  AOT Airports
                </h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                สำนักงานส่งเสริมเศรษฐกิจดิจิทัล (depa)
                ถูกพัฒนาขึ้นเพื่อรองรับสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรน่า
                2019 (COVID-19)
                โดยเฉพาะเพื่อมาใช้เก็บข้อมูลเพื่อติดตามนักท่องเที่ยวต่างชาติทุกคนที่เดินทางเข้าสู่ราชอาณาจักรไทย
                รวมถึงชาวไทยที่เดินทางกลับจากประเทศกลุ่มเสี่ยง
                ตามประกาศกระทรวงสาธารณสุข
                ทั้งนี้สามารถดาวน์โหลดแอพพลิเคชันจากคิวอาร์โค้ดที่ติดตั้งไว้ ณ
                จุดคัดกรองได้ทันทีในท่าอากาศยานทุกแห่งในประเทศไทย
                และจะต้องลงทะเบียนกรอกข้อมูลส่วนบุคคลประกอบด้วย ชื่อ-นามสกุล
                ที่อยู่ หมายเลขโทรศัพท์ หรืออีเมล์ ก่อนผ่านด่านตรวจคนเข้าเมือง
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <button class="back-to-top" *ngIf="isShow" (click)="gotoTop()">
    <fa-icon [icon]="faArrowCircleUp" style="color: white;"></fa-icon>
  </button>
</div>
