<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-8" style="margin-top: -7%; margin-bottom: -6%;">
      <img
        src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/covid.png"
        style="width: inherit; height: initial;"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

        <div class="title">
          <h4 class="title-bold">อาการเบื้องต้น</h4>
        </div>

        <div class="text">
          <p>อาการเบื้องต้นเชื้อไวรัสโคโรนา</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(symptom)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

        <div class="title">
          <h4 class="title-bold">วิธีการป้องกัน</h4>
        </div>

        <div class="text">
          <p>วิธีการการป้องกับเชื้อไวรัสโคโรนา</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(protected)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

        <div class="title">
          <h4 class="title-bold">ความผ่อนคลาย</h4>
        </div>

        <div class="text">
          <p>วิธีการผ่อนคลายในช่วงกักตัว</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(relax)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="box-part text-center">
        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

        <div class="title">
          <h4 class="title-bold">แอพพลิเคชัน</h4>
        </div>

        <div class="text">
          <p>แอพพลิเคชันเกี่ยวกับไวรัสโคโรนา</p>
        </div>

        <button
          type="button"
          class="btn btn-sm btn-outline-info"
          (click)="scroll(application)"
        >
          อ่านเพิ่มเติม
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" #symptom>
          <h2 class="card-title">อาการ</h2>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ติดเชื้ออาจป่วยเนื่องจากไวรัสนี้เป็นเวลา
            1-14 วันก่อนที่จะแสดงอาการ อาการทั่วไปของโรคติดเชื้อไวรัสโคโรนา 2019
            (โรคโควิด 19) คือเป็นไข้ อ่อนเพลีย และไอแห้ง คนส่วนใหญ่
            (ประมาณร้อยละ 80) หายจากโรคนี้ได้โดยไม่ต้องรับการรักษาพิเศษ
          </p>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในกรณีส่วนน้อย
            โรคอาจรุนแรงจนถึงขั้นทำให้เสียชีวิต ผู้สูงอายุและผู้ที่มีโรคประจำตัว
            (เช่น หอบหืด เบาหวาน หรือโรคหัวใจ)
            อาจมีความเสี่ยงมากขึ้นที่อาการป่วยจะรุนแรง
          </p>
          <hr />
          <p>ผู้ที่ติดเชื้ออาจมีอาการดังนี้</p>
          <ul class="list-group list-group-horizontal" style="overflow: auto;">
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/sneeze.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />ไอ
            </li>
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/fever.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />เป็นไข้
            </li>
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/loss-of-consciousness.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />อ่อนเพลีย
            </li>
            <li class="list-group-item">
              <img
                src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/bad-breath.png"
                class="align-self-start mr-1"
                width="25px"
                height="25px"
              />หายใจลำบาก
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="card">
        <div class="card-body" #protected>
          <h2 class="card-title">วิธีการป้องกัน</h2>
          <p class="card-text">
            ในปัจจุบันยังไม่มีวัคซีนป้องกันโรคติดเชื้อไวรัสโคโรนา (COVID-19)
          </p>
          <p class="card-text">
            คุณสามารถป้องกันตัวเองและช่วยป้องกันไม่ให้ไวรัสแพร่กระจายสู่คนอื่นได้โดยทำดังนี้
          </p>
          <br />
          <h3 class="card-text text-info">สิ่งที่ควรทำ</h3>
          <ul class="list-group">
            <li class="list-group-item">
              ล้างมือบ่อยๆ เป็นเวลา 20
              วินาทีด้วยสบู่และน้ำหรือเจลล้างมือที่มีส่วนผสมของแอลกอฮอล์
            </li>
            <li class="list-group-item">
              ใช้กระดาษทิชชู่หรือข้อพับตรงข้อศอกด้านในปิดปากและจมูกขณะไอหรือจาม
            </li>
            <li class="list-group-item">
              หลีกเลี่ยงการพบปะใกล้ชิด (ระยะ 1 เมตรหรือ 3 ฟุต) กับคนที่ไม่สบาย
            </li>
            <li class="list-group-item">
              อยู่บ้านและกักตัวเองให้ห่างจากคนอื่นในบ้านหากรู้สึกไม่สบาย
            </li>
          </ul>
          <br />
          <h3 class="card-text text-danger">สิ่งที่ไม่ควรทำ</h3>
          <ul class="list-group">
            <li class="list-group-item">
              นำมือที่ไม่สะอาดไปสัมผัสดวงตา จมูก หรือปาก
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="card">
        <div class="card-body" #relax>
          <h2 class="card-title">การผ่อนคลาย</h2>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            นับวันสถานการณ์การแพร่ระบาด Covid-19
            ทั่วโลกจะยิ่งน่ากลัวมากขึ้นเรื่อยๆ ขณะที่บริษัทหลายๆ แห่งงัดนโยบาย
            Work From Home (WFH) มาใช้อย่างต่อเนื่อง
            เพื่อร่วมเป็นส่วนหนึ่งในการลดความเสี่ยงในการเพิ่มจำนวนผู้ติดเชื้อไวรัส
            ซึ่งการกักตัวนานถึง 14 วัน โดยไม่ออกไปไหน และห้ามพบปะใคร
            ไม่ใช่เรื่องง่ายเลยที่จะ recover ความรู้สึกตัวเองได้
          </p>
          <p class="card-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            ดังนั้นลองมาดูกันหน่อยมั้ยว่ามีกิจกรรมอะไรบ้างที่เราทำได้เมื่ออยู่ที่บ้าน
          </p>
          <div class="card mb-3">
            <img src="..." class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                แน่นอนว่ายุคที่ทุกอย่างเป็นดิจิทัลแบบนี้ การดู content online
                เป็นกิจกรรมแรกที่คนส่วนใหญ่ในหลายประเทศทำกัน โดยจะเห็นว่า
                streaming หลายๆ แบรนด์นั้นค่อนข้างแข่งขันกันดุเดือดมาก
                ไม่ว่าจะเป็น Netflix หรือแม้แต่ Pornhub
                ก็ยังโดดเข้าร่วมโอกาสนี้ด้วยเหมือนกัน
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3 mb-3">
      <div class="card">
        <h2 class="card-header" #application>
          แอพพลิเคชันที่เกี่ยวกับไวรัสโคโรนา
        </h2>
        <div class="card-body">
          <h1 class="card-title">Special title treatment</h1>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button class="back-to-top" *ngIf="isShow" (click)="gotoTop()">
    <fa-icon [icon]="faArrowCircleUp" style="color: white;"></fa-icon>
  </button>
</div>
