.country-parent {
    margin-top: 70px;
    padding: 50px;
}

.card-header-parent {
    font-size: 3vw;
    font-weight: 500;
}

#coronavirus-cases {
    font-size: 3vw;
    font-weight: 500;
    font-family: fantasy;
}