<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-warning" routerLink="Home">
    <img
      class="mr-0 mb-1"
      src="https://raw.githubusercontent.com/kinnnzl/Covid19-KMITL/master/src/app/core/image/%E0%B9%84%E0%B8%A7%E0%B8%A3%E0%B8%B1%E0%B8%AA.png"
      width="30px"
    />
    Covid-19 Times
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="Home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="Thailand">Thailand</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="Countries">Countries</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" href="#">About Covid19</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search Countries"
        aria-label="Search"
      />
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
