<router-outlet>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="true"
    ><p style="color: white;">Loading...</p></ngx-spinner
  >
  <div class="container">
    <div class="row dashboard-parent">
      <div class="col-lg-12">
        <div class="card text-center">
          <div class="card-header card-header-parent">
            Coronavirus Cases
          </div>
          <div class="card-body">
            <h5 class="card-title" id="coronavirus-cases">
              {{ covid19.cases | number }}
            </h5>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
          <div class="card-footer text-muted">
            Last updated: {{updateDate}}
          </div>
        </div>
      </div>
    </div>
    <div class="row dashboard-child">
      <div class="col-lg-4">
        <div
          class="card text-white bg-success mb-3 text-center"
          style="max-width: 18rem;"
        >
          <div class="card-header">Recovered</div>
          <div class="card-body">
            <h5 class="card-title">{{ covid19.recovered | number }}</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="card text-white bg-warning mb-3 text-center"
          style="max-width: 18rem;"
        >
          <div class="card-header">ACTIVE CASES</div>
          <div class="card-body">
            <h5 class="card-title">{{ covid19.active | number }}</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="card text-white bg-danger mb-3 text-center"
          style="max-width: 18rem;"
        >
          <div class="card-header">Deaths</div>
          <div class="card-body">
            <h5 class="card-title">{{ covid19.deaths | number }}</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</router-outlet>
